.container {
    display: flex;
    flex: 1;
    width: 100%;
}
.container > .inner {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    flex: 1;
}
.container > .inner > p {
    font-family: Roboto, sans-serif;
    font-size: 13px;
    color: #444444;
    text-align: left;
}

/** Small devices (landscape phones, 576px and up) **/
@media (min-width: 576px) {}

/** Medium devices (tablets, 768px and up) **/
@media (min-width: 768px) {
    .container > .left {
        margin-left: 15%;
        margin-right: 15%;
    }
}

/** Large devices (desktops, 992px and up) **/
@media (min-width: 992px) {}

/** Extra large devices (large desktops, 1200px and up) **/
@media (min-width: 1200px) {}